__time module__

1.Work with timestamps (number of seconds since 1970-01-01)

2.Use delays (sleep)

3.Format and parse times (but not full dates)

4.Measure performance

In [5]:
"""
Important functions In Time Module:
time.time()	        Current time in seconds (timestamp)
time.sleep(x)	    Pause for x seconds
time.ctime()	    Convert timestamp to readable string
time.localtime()	Get local time as struct_time
time.gmtime()	    Get UTC time as struct_time
time.strftime()	    Format a struct_time to string
time.strptime()   	Parse a time string to struct_time
time.monotonic()

"""

'\nImportant functions In Time Module:\ntime.time()\t        Current time in seconds (timestamp)\ntime.sleep(x)\t    Pause for x seconds\ntime.ctime()\t    Convert timestamp to readable string\ntime.localtime()\tGet local time as struct_time\ntime.gmtime()\t    Get UTC time as struct_time\ntime.strftime()\t    Format a struct_time to string\ntime.strptime()   \tParse a time string to struct_time\ntime.monotonic()\n\n'

In [6]:
# Epoch refers to the number of seconds that have elapsed
#  since January 1, 1970 (midnight UTC/GMT), 
# not counting leap seconds. This point in time is known as the Unix /window epoch.
# Epoch in computing is the used as the starting point to calculate the timeintervals
# Epoch in windows and unix 1 jan 1970- UTC 00:00:00

1. time.time()
- Returns the current time in seconds from epoch
- jan 1,1970 at 00:00:00

In [15]:

import time

# we can calculate the Epoch as below
epoch_seconds=time.time()
print("Seconds from 1jan 1970(epoch)",epoch_seconds)
print("Minutes from 1jan 1970(epoch)",epoch_seconds/60)
print("Hours from 1jan 1970(epoch)",epoch_seconds/3600)
print("days from 1jan 1970(epoch)",epoch_seconds/(3600*24))
print("Years from 1jan 1970(epoch)",epoch_seconds/(3600*24*365))

Seconds from 1jan 1970(epoch) 1752335180.216079
Minutes from 1jan 1970(epoch) 29205586.33693465
Hours from 1jan 1970(epoch) 486759.7722822442
days from 1jan 1970(epoch) 20281.65717842684
Years from 1jan 1970(epoch) 55.566184050484495

2. time.sleep(x)
- suspend the execution of the current thread for specified number of seconds
-x are the seconds

In [8]:
import time 

time.sleep(5)
print("hello")

hello

3. time.ctime(seconds)
- convertes a timestamp (seconds since the epoch) into human readable string representing the local time. from the epoch time .. 
- seconds are the optional argument if it is not passed it takes the epoch time(seconds from)
(time.time()) and provides the current local time
- it gives the user readable format of time from the epoch time

In [ ]:
#time.ctime() with and without arguments

# ctime() with no arguments returns current local time as a string
current_time_str = time.ctime()
print("Current local time (no argument):", current_time_str)

# ctime() with a timestamp argument returns the corresponding local time as a string
timestamp_example = 1000000000
converted_time_str = time.ctime(timestamp_example) 
print("Local time for epoch_seconds:", converted_time_str)

Current local time (no argument): Sat Jul 12 21:20:52 2025
Sat Jul 12 21:20:52 2025
Local time for epoch_seconds: Sun Sep  9 07:16:40 2001

4. gmtime() and localtime() :-
- these functions convert the timestamp into a __struct_time Object__ representing the UTC time and local Time ,resprectively

In [17]:
# time.gmtime() returns the current time in UTC as a struct_time object
utc_time = time.gmtime() # by default it passes the epoch seconds
print("Current UTC time (struct_time):", utc_time)
# Jalandhar is 5 hours and 30 minutes ahead of Coordinated Universal Time (UTC)


# time.localtime() returns the current local time as a struct_time object
local_time=time.localtime()  # by default it passes the epoch seconds
print("Current local time (struct_time):", local_time)


# You can also convert a timestamp to struct_time in UTC or local time
print("UTC time for timestamp_example:", time.gmtime(timestamp_example))
print("Local time for timestamp_example:", time.localtime(timestamp_example))

Current UTC time (struct_time): time.struct_time(tm_year=2025, tm_mon=7, tm_mday=12, tm_hour=15, tm_min=54, tm_sec=28, tm_wday=5, tm_yday=193, tm_isdst=0)
Current local time (struct_time): time.struct_time(tm_year=2025, tm_mon=7, tm_mday=12, tm_hour=21, tm_min=24, tm_sec=28, tm_wday=5, tm_yday=193, tm_isdst=0)
UTC time for timestamp_example: time.struct_time(tm_year=2001, tm_mon=9, tm_mday=9, tm_hour=1, tm_min=46, tm_sec=40, tm_wday=6, tm_yday=252, tm_isdst=0)
Local time for timestamp_example: time.struct_time(tm_year=2001, tm_mon=9, tm_mday=9, tm_hour=7, tm_min=16, tm_sec=40, tm_wday=6, tm_yday=252, tm_isdst=0)

In [11]:
# to access particular attribute 
print(local_time.tm_hour) 
print(utc_time.tm_hour)
difference=utc_time.tm_hour -local_time.tm_hour
print(difference,"hours difference")

21
15
-6 hours difference

# Lets see the 5. time.strftime() and time.strptime() for those we need to understand the format codes ...

In [ ]:
import pandas as pd

# just view the output of code
# List of format codes and their meanings/examples
format_codes = [
    ("%a", "Abbreviated weekday name", "Mon"),
    ("%A", "Full weekday name", "Monday"),
    ("%b", "Abbreviated month name", "Jul"),
    ("%B", "Full month name", "July"),
    ("%w", "Weekday as a decimal (0 = Sunday)", "1"),
    ("%d", "Day of the month (zero-padded)", "05"),
    ("%m", "Month as a decimal number (01–12)", "07"),
    ("%y", "Year without century (00–99)", "25"),
    ("%Y", "Year with century", "2025"),
    ("%H", "Hour (24-hour clock, 00–23)", "14"),
    ("%I", "Hour (12-hour clock, 01–12)", "02"),
    ("%p", "AM/PM", "PM"),
    ("%M", "Minute (00–59)", "30"),
    ("%S", "Second (00–59)", "08"),
    ("%f", "Microsecond (000000–999999)", "548513"),
    ("%z", "UTC offset", "+0530"),
    ("%Z", "Time zone name", "IST"),
    ("%j", "Day of year (001–366)", "193"),
    ("%U", "Week number (Sunday as first day)", "27"),
    ("%W", "Week number (Monday as first day)", "27"),
    ("%c", "Locale’s date and time", "Sat Jul 12 14:30:00 2025"),
    ("%x", "Locale’s date", "07/12/25"),
    ("%X", "Locale’s time", "14:30:00"),
    ("%%", "Literal % character", "%"),
    ("%C", "Century (year divided by 100, zero-padded)", "20"),
    ("%u", "ISO weekday (1=Monday, 7=Sunday)", "6"),
    ("%V", "ISO week number (01–53)", "28"),
    ("%G", "ISO 8601 year", "2025"),
]

# Create DataFrame
df_format_codes = pd.DataFrame(format_codes, columns=["Format Code", "Meaning", "Example Output"])
display(df_format_codes)

,Format Code,Meaning,Example Output
0,%a,Abbreviated weekday name,Mon
1,%A,Full weekday name,Monday
2,%b,Abbreviated month name,Jul
3,%B,Full month name,July
4,%w,Weekday as a decimal (0 = Sunday),1
5,%d,Day of the month (zero-padded),05
6,%m,Month as a decimal number (01–12),07
7,%y,Year without century (00–99),25
8,%Y,Year with century,2025
9,%H,"Hour (24-hour clock, 00–23)",14
10,%I,"Hour (12-hour clock, 01–12)",02
11,%p,AM/PM,PM
12,%M,Minute (00–59),30
13,%S,Second (00–59),08
14,%f,Microsecond (000000–999999),548513
15,%z,UTC offset,+0530
16,%Z,Time zone name,IST
17,%j,Day of year (001–366),193
18,%U,Week number (Sunday as first day),27
19,%W,Week number (Monday as first day),27
20,%c,Locale’s date and time,Sat Jul 12 14:30:00 2025
21,%x,Locale’s date,07/12/25
22,%X,Locale’s time,14:30:00
23,%%,Literal % character,%
24,%C,"Century (year divided by 100, zero-padded)",20
25,%u,"ISO weekday (1=Monday, 7=Sunday)",6
26,%V,ISO week number (01–53),28
27,%G,ISO 8601 year,2025

[Format_code_File](./3formatcode.md)

In [ ]:
# using this format codes
# time.strftime("Format",object) # by default object is time.localtime()
import time
struct_time=time.localtime()
print(struct_time)

formatstring=time.strftime("%H:%M:%S %p %d %b %Y %Z" ,struct_time)
print(formatstring)
print(type(formatstring))

# easy way %c that include "%a %b %d %H:%M:%S %Y" Almost all Information we get by %c
formatstring=time.strftime("%c %Z" ,struct_time)
print(formatstring)
print(type(formatstring))

time.struct_time(tm_year=2025, tm_mon=7, tm_mday=12, tm_hour=22, tm_min=39, tm_sec=26, tm_wday=5, tm_yday=193, tm_isdst=0)
22:39:26 PM 12 Jul 2025 India Standard Time
<class 'str'>
Sat Jul 12 22:39:26 2025 India Standard Time
<class 'str'>

In [ ]:
# Now Time Formatting with both time module 
# and datetime Module:: 
# object ---> string
import time
import datetime
#using time module
currenttime=time.strftime("%a %d %b %Y %H:%M:%S %Z")
print(currenttime)

#using datetime module
currentobj=datetime.datetime.now().strftime("%a %d %b %Y %H:%M:%S %Z")
print(currentobj)

Sat 12 Jul 2025 22:58:36 India Standard Time
Sat 12 Jul 2025 22:58:36

In [ ]:
# formatted String --> object
# time.strptime(string,format)
currenttime=time.strftime("%a %d %b %Y %H:%M:%S %Z")
print(currenttime)

newobj=time.strptime(currenttime,"%a %d %b %Y %H:%M:%S %Z")
print(newobj)

Sat 12 Jul 2025 23:01:26 India Standard Time
time.struct_time(tm_year=2025, tm_mon=7, tm_mday=12, tm_hour=23, tm_min=1, tm_sec=26, tm_wday=5, tm_yday=193, tm_isdst=0)

# Practice

In [108]:
#calculate the total Execution time of your Program using the time module
import time

start_time=time.time()
mylist=[]
for i in range (1000000):
    mylist.append(i*i)

end_time=time.time()
total_time=end_time-start_time
print("time taken to Complete Execution is ",round(total_time,3))

time taken to Complete Execution is  0.639

In [112]:
# here we can see the time.time() method may be not provide the accurate answer
# so to make it more accurate we use time.monotonic() function
# using monotonic()
import time

start_time=time.monotonic()
mylist=[]
for i in range (1000000):
    mylist.append(i*i)

end_time=time.monotonic()
total_time=end_time-start_time
print("time taken to Complete Execution is ",round(total_time,3))

time taken to Complete Execution is  0.412